<% layout("../views/layouts/boilerplate") %>

<section id="Search Game">


  <form method="get" action="search">
    <h1>Search:</h1>
    <input type="text" id="search" name="q" />
    <button id="searchButton" class="button">Search</button>
    <br><br>
    <div id="searchResults">
      <%if(pgn.length>0) %>
      <%=pgn.length%> Results found:
    </div>
  </form>
</section>


<main id="PGNGameList">
  <%if(pgn.length>0) { %>
  <div class="gamesTableContainer">
    <table class="gamesTable">
      <tr>
        <th>#</th>

        <%obj=pgn[0];%>
        <% for(const key in obj) { %>

        <% if(key !='Id' && key!="whiteelo" && key!="blackelo" && key!="eco" ) { %>
        <th>
          <%=key %>
        </th>
        <%}%>
      <%}%>
      </tr>
      <% for(let i=((page-1)*recordsPerPage);i<=(page)*recordsPerPage; i++){ obj=pgn[i];  %>
      <% if(obj) { %>
      <tr onclick=<%-`"window.location='/review?type=pgn&id=${obj.Id}'"`%>>

        <td>
          <a href=<%=`/review?&type=pgn&id=${obj.Id} %`%>>
            <%=i+1 %>
          </a>
        </td>
        <% for(const key in obj) { %>
        <% if(key !=`Id` && key!=`whiteelo` && key!=`blackelo` && key!=`eco` ) { %>
        <td>
          <%= obj[key] %>

        </td>
        <% } %>
        <% } %>
        <% } %>
      </tr>
      <% } %>
    </table>
  </div>
  <%} %>

  <%if(pgn.length>0) { %>
  <%
    const windowSize = 10;
    const startPage = Math.floor((page - 1) / windowSize) * windowSize + 1;
    const endPage = Math.min(startPage + windowSize - 1, totalPages);
    const prev10Page = Math.max(1, startPage - windowSize);
    const next10Page = Math.min(totalPages, startPage + windowSize);
  %>
  <nav class="pagesNav">
    <a href="search?q=<%=q%>&page=1">First</a>
    <% if (startPage > 1) { %>
    <a href="search?q=<%=q%>&page=<%=prev10Page%>" title="Previous 10 pages" class="pageNavIcon">‹‹</a>
    <% } %>
    <% for(let i=startPage;i<=endPage;i++) { %>
    <% if (i==page) { %>
    <a class="selectedPage" href="search?q=<%=q%>&page=<%=i%>"><%=i %></a>
    <%} else { %>
    <a href="search?q=<%=q%>&page=<%=i%>"><%=i %></a>
    <% } %>
    <% } %>
    <% if (endPage < totalPages) { %>
    <a href="search?q=<%=q%>&page=<%=next10Page%>" title="Next 10 pages" class="pageNavIcon">››</a>
    <% } %>
    <a href="search?q=<%=q%>&page=<%=totalPages%>">Last</a>
  </nav>

  <%  } %>
</main>


<br>
<br>
<br>